dill==0.3.5.1
dnspython==2.6.1
evidently==0.1.58.dev0
fastapi==0.78.0
from-root==1.0.2
httptools==0.5.0
imblearn==0.0
python-dotenv==0.21.0
uvicorn==0.18.3
xgboost==1.6.2
pymongo==4.6.3
boto3==1.24.84
botocore-stubs==1.27.86
mypy-boto3-s3==1.24.76
types-s3transfer==0.6.0.post4
jinja2==3.1.6
neuro-mf==0.0.5
pip-chill==1.0.1
watchfiles==0.17.0
websockets==10.3
wincertstore==0.2
-e .